.required{color:red;}
select{max-width: 100%;}
textarea{margin: 0px; width: 1224px; height: 63px; max-width: 100%;}
#registration0{padding: 10px;}
form#registrationform .submit-button{margin-left: 0px;}