/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/private/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.bash_logout
.bash_profile
.bashrc
.cache/
.cloud-locale-test.skip
.config/
.contactemail
.cpanel/
.cphorde/
.gitconfig
.lastlogin
.local/
.spamassassin/
.spamassassinenable
.ssh/
access-logs
etc/
mail/
/public_html/hot
/public_html/storage
/public_html/.well-known
/public_html/cgi-bin
ssl/
tmp/
www
/nbproject/private/