<div id="bottom-newsletter">
  <div class="container">
    <div class="newsletter-bg">
      <div class="row">
        <div class="col-sm-8">
          <!--START: FRAME_MAILLIST-->
          <div id="mailListBox" class="mailListBox">
            <form id="footerMailingForm" method="post" name="mailing" action="https://www.budbox.ca/mailing_list.asp?action=add" onsubmit="return footer_mailing_list();">
              <h3>Mailing List</h3>
              <div class="maillist-box">
                <i class="fa fa-envelope-o"></i>
                <input type="text" name="email" value="" placeholder="enter your email address">
                <input type="submit" name="www" value="GO">
                <div class="clearfix"></div>
                <div class="radio hide">
                  <label>
                    <input type="radio" name="subscribe" value="1" checked=""> Subscribe
                  </label>
                </div>
                <div class="radio hide">
                  <label>
                    <input type="radio" name="subscribe" value="0"> Unsubscribe
                  </label>
                </div>
              </div>
            </form>
          </div>
          <!--END: FRAME_MAILLIST-->
        </div>
        <div class="col-sm-4">
          <div class="social-icons">
            <h3>Stay Connected</h3>
            <div>
              <!--START: social_link_facebook-->
              <a href="https://www.facebook.com/budboxcanada" class="facebook" target="_blank" title="BudBox on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <!--END: social_link_facebook-->
              <!--START: social_link_twitter-->
              <a href="http://www.twitter.com/budboxcanada" class="twitter" target="_blank" title="Follow Us on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <!--END: social_link_twitter-->
              <!--START: social_link_googleplus-->
              <!--END: social_link_googleplus-->
              <!--START: social_link_youTube-->
              <!--END: social_link_youTube-->
              <!--START: social_link_pinterest-->
              <!--END: social_link_pinterest-->
              <!--START: social_link_instagram-->
              <a href="http://instagram.com/budboxcanada" class="instagram" target="_blank" title="BudBox on Instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <!--END: social_link_instagram-->
              <!--START: social_link_tumblr-->
              <!--END: social_link_tumblr-->
              <!--START: social_link_blog-->
              <!--END: social_link_blog-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>