<div id="mainContainer">
  <div class="container">
    <div class="row">
      <!--START: LEFT BAR-->
      <aside id="leftBar" class="leftBar col-sm-3">
        <!--START: LEFT_BAR_BLOCKS-->

        <div id="modTopSellers" class="module-wrapper">
          <h3 class="side-module-heading">
            <span>Top Sellers</span>
          </h3>
          <div class="owl-carousel">

            <div class="prod-item">
              <div class="prod-image">
                <a href="cherry-oil.html">
                  <img src="images/extract-thrive-premiumcherry-0_thumbnail.jpg" alt="Premium Cherry Oil" id="qv_36" />
                </a>
                <div class="actions">
                  <a class="btnQV hidden-xs hidden-sm hidden-md" href="/product.asp?lt_c=1&itemid=36&qv=1&">Quick View</a>
                </div>
              </div>
              <div class="product-desc">
                <div class="name">
                  <a href="cherry-oil.html">Premium Cherry Oil</a>
                </div>
                <div class="star-rating">
                  <!--START: product_review-->
                  <!--START: product_review_average-->
                  <div class="star5">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!--END: product_review_average-->
                  <!--END: product_review-->
                </div>
                <div class="price">

                  <span class="hidden">Your Price:&nbsp;</span>$24.99


                </div>
                <div class="div-hovered">
                  <button type="button" class="btn btn-color btnATC">Buy</button>
                </div>
              </div>
            </div>

            <div class="prod-item">
              <div class="prod-image">
                <a href="romulan-kush.html">
                  <img src="images/flower-romulan-0_thumbnail.jpg" alt="Romulan Indica" id="qv_169" />
                </a>
                <div class="actions">
                  <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                </div>
              </div>
              <div class="product-desc">
                <div class="name">
                  <a href="romulan-kush.html">Romulan Indica</a>
                </div>
                <div class="star-rating">
                  <!--START: product_review-->
                  <!--START: product_review_average-->
                  <div class="star5">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!--END: product_review_average-->
                  <!--END: product_review-->
                </div>
                <div class="price">


                  <del class="price2">$39.99</del>
                  <span class="hidden">On sale&nbsp;</span>
                  <span class="sale-price">$24.99</span>
                  <div class="on-sale">Sale</div>

                </div>
                <div class="div-hovered">
                  <button type="button" class="btn btn-color btnATC">Buy</button>
                </div>
              </div>
            </div>

            <div class="prod-item">
              <div class="prod-image">
                <a href="godsgreencrack.html">
                  <img src="images/flower-godsgreencrack-0_thumbnail.jpg" alt="Gods Green Crack" id="qv_198" />
                </a>
                <div class="actions">
                  <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                </div>
              </div>
              <div class="product-desc">
                <div class="name">
                  <a href="godsgreencrack.html">Gods Green Crack</a>
                </div>
                <div class="star-rating">
                  <!--START: product_review-->
                  <!--START: product_review_average-->
                  <div class="star5">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!--END: product_review_average-->
                  <!--END: product_review-->
                </div>
                <div class="price">


                  <del class="price2">$44.95</del>
                  <span class="hidden">On sale&nbsp;</span>
                  <span class="sale-price">$24.99</span>
                  <div class="on-sale">Sale</div>

                </div>
                <div class="div-hovered">
                  <button type="button" class="btn btn-color btnATC">Buy</button>
                </div>
              </div>
            </div>

            <div class="prod-item">
              <div class="prod-image">
                <a href="rockstar-kush.html">
                  <img src="images/flower-rockstarkush-0_thumbnail.jpg" alt="Rockstar Kush" id="qv_368" />
                </a>
                <div class="actions">
                  <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                </div>
              </div>
              <div class="product-desc">
                <div class="name">
                  <a href="rockstar-kush.html">Rockstar Kush</a>
                </div>
                <div class="star-rating">
                  <!--START: product_review-->
                  <!--START: product_review_average-->
                  <div class="star4">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!--END: product_review_average-->
                  <!--END: product_review-->
                </div>
                <div class="price">


                  <del class="price2">$44.95</del>
                  <span class="hidden">On sale&nbsp;</span>
                  <span class="sale-price">$24.99</span>
                  <div class="on-sale">Sale</div>

                </div>
                <div class="div-hovered">
                  <button type="button" class="btn btn-color btnATC">Buy</button>
                </div>
              </div>
            </div>

          </div>
        </div>


        <!--START: FRAME_BYPRICE-->
        <!--END: FRAME_BYPRICE-->
        <!--START: FRAME_MANUFACTURER-->
        <!--END: FRAME_MANUFACTURER-->
        <!--START: LEFT_BANNER-->
        <div id="leftBanner">
          <div id="sideLeftBanner">
            <a href="budbox.html">
              <img alt="" src="images/catbanneranim.gif">
            </a>
          </div>
          <div id="sideCustomCMS" class="module-wrapper">
            <h3 class="side-module-heading">
              <span>Only The Best
                <br>
              </span>
            </h3>
            <div class="side-cms-content">
              <p>What goes into a budbox? Only the highest quality cannabis flower, extracts, edibles &amp; topicals.</p>
              <p>Lab tested &amp; personally sampled by our specialists. We know whats best for your box!</p>
            </div>
          </div>
        </div>
        <!--END: LEFT_BANNER-->
        <!--END: LEFT_BAR_BLOCKS-->
      </aside>
      <div id="sidebar-toggle" class="hide">
        <a href="javascript:void(0);">SHOW SIDEBAR
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <!--END: LEFT BAR-->
      <!--START: FRAME_MID-->
      <!--START: BODY_HEADER-->
      <div class="breadcrumbs">
        <a id='catCrumbHomeLink' [routerLink]="['']">Home</a> > Budbox Membership
      </div>
      <!--END: BODY_HEADER-->

      <div id="mainContent" class="col-sm-9">
        <section id="category" class="page-layout">
          <form action="view_category.asp?cat=14" method="post" name="frmsortby" id="frmsortby">
            <!--START: CATEGORY_HEADER-->
            <div class="category-image" id="categoryImage">
              <img src="images/category-banner-budbox.jpg" alt="" border="0px">
              <br>
              <span style="font-size: 14pt;">
                <br>
                <h1>Mail Order Marijuana</h1>
              </span>
              <span class="st">
                <span style="font-size: 10pt; color: rgb(105, 105, 105);">Get
                  <i>mail order marijuana</i> Canada. Budbox has created an opportunity for the best mail order experience online.
                  If you are a Canadian adult 19+ you can buy marijuana online and get great discounts with a Budbox membership!
                  <a href="category_index.asp">Checkout the menu today</a> &lt;</span>
                <br>
              </span>
            </div>
            <!--END: CATEGORY_HEADER-->
            <h1 class="category-name">Budbox Membership</h1>

            <!--START: SUB_CATEGORIES-->
            <!--END: SUB_CATEGORIES-->

            <!--START: FEATURE_MENU-->
            <!--END: FEATURE_MENU-->
            <!--START: ITEMS-->
            <div id="productCategoryBlock">
              <div class="category-toolbar">
                <div class="view-as-btn">
                  <div class="btn-group">
                    <a href="javascript:void(0);" id="grid-view" title="Grid View" class="current-view">
                      <div>
                        <div class="icon-bar"></div>
                        <div class="icon-bar"></div>
                        <div class="icon-bar"></div>
                      </div>
                      <span>GRID</span>
                    </a>
                    <a href="javascript:void(0);" id="list-view" title="List View">
                      <div>
                        <div class="icon-bar"></div>
                        <div class="icon-bar"></div>
                        <div class="icon-bar"></div>
                      </div>
                      <span>LIST</span>
                    </a>
                  </div>
                </div>
                <div class="product-count">Products (Total Items: 3)</div>
                <div class="sort-by">
                  <!--START: sortbylist-->
                  <!--END: sortbylist-->
                </div>
              </div>
              <!-- //.category-toolbar -->
              <!--START: catitemslist-->
              <!--END: catitemslist-->

              <div class="module-wrapper">
                <div class="inner-wrapper">
                  <!--START: CATEGORY_ITEMS-->
                  <script class="slick-cloned" type="text/javascript">if (typeof _3d_items_collection === "undefined") { window._3d_items_collection = {}; }</script>
                  <div class="productBlockContainer columns-3">
                    <div class="product-container first-item" *ngFor="let single of package_list">
                      <div class="prod-item">
                        <div class="prod-image">
                          <a href="javascript:void(0);">
                            <img src="{{baseurl}}/backend/images/membershipPackage/{{single.get_media[0].image}}" alt="{{single.product_name}}" />
                          </a>
                          <div class="actions">
                            <a class="btnQV hidden-xs hidden-sm hidden-md membershipModalLink" href="javascript:void(0);" data-toggle="modal" data-target="#membershipModal" [attr.data-proname]="single.product_name" [attr.data-proid]="single.id"  [attr.data-proDesc]="single.product_description"  [attr.data-proprice]="single.product_price" [attr.data-proImgName]="single.get_media[0].image" [attr.data-baseUrl]="baseurl">
                              Quick View
                            </a>
                          </div>
                        </div>
                        <!--START: dropimage_widget-->
                        <!--END: dropimage_widget-->
                        <div class="product-desc">
                          <div class="name">
                            <a href="stranger.html">{{single.product_name}}</a>
                          </div>
                          <div class="desc">{{single.product_description}}</div>
                          <div class="star-rating">
                            <!--START: product_review-->
                            <!--START: product_review_average-->
                            <div class="star4">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                            <!--END: product_review_average-->
                            <!--END: product_review-->
                          </div>
                          <div class="price">
                            <!--START: ITEMPRICE-->
                            <span class="hidden">Your Price:&nbsp;</span>${{single.product_price}}
                            <!--END: ITEMPRICE-->

                          </div>
                          <div class="div-hovered">
                            <button type="button" (click)="routeMembershipDetails(single.id)" class="btn btn-color btnATC">Buy</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div style="clear: both;"></div>
                  </div>
                  <!--END: CATEGORY_ITEMS-->
                  <!--START: CATEGORY_FOOTER-->
                  <div class="category-desc" id="categoryDesc">
                    <span style="font-size: 14pt;">
                      <span style="font-size: 18pt; font-weight: bold;">What's in your box?</span>
                      <br>
                      <br>
                      <span style="font-size: 10pt; color: rgb(105, 105, 105);">
                        <span style="font-size: 12pt;">You can choose between the different membership options above.&nbsp; Click on the product for more
                          information.
                          <br>
                          <br>The ultimate mail order marijuana experience.&nbsp; What makes Budbox so different from other mail
                          order cannabis websites is the fact that we offer special monthly membership packages.&nbsp; The
                          Friendly Stranger is our entry level membership and this includes a variety of items from the entire
                          website.&nbsp; The Real Deal is the next level of mail order membership and the maximum monthly
                          membership package is called Yes More Please.
                          <br>
                          <br>Each mail order marijuana membership gains more value as each level increase.&nbsp; We cram you
                          box full of the highest quality items from the entire Budbox menu.&nbsp; Create your account today
                          and checkout the mail order marijuana menu.</span>
                        <br>
                      </span>
                    </span>
                    <br>
                    <span style="font-size: 8pt; color: rgb(97, 168, 152);">
                      <span style="font-size: 10pt; color: rgb(0, 0, 0);"></span>
                    </span>
                    <table width="" align="">
                      <tbody>
                        <tr>
                          <td style="border: medium none;">
                            <a href="indica.html">
                              <span style="font-weight: bold; font-size: 14pt; color: rgb(107, 142, 35);">Indica</span>
                              <br>
                              <span style="font-size: 10pt;">High quality indica strains from British Columbia.
                                <br>
                              </span>
                            </a>
                            <div align="right">
                              <div align="center">
                                <a href="indica.html">
                                  <span style="font-size: 10pt;"></span>
                                  <span style="background-color: rgb(128, 128, 0);">
                                    <span style="font-size: 8pt; font-weight: bold;">SHOW ME</span>
                                  </span>
                                </a>
                                <br>
                              </div>
                              <a href="https://www.budbox.ca/admin/cannabis.html">
                                <span style="font-size: 10pt;"></span>
                              </a>
                            </div>
                          </td>
                          <td style="border: medium none;">
                            <a href="sativa.html">
                              <span style="font-weight: bold; font-size: 14pt; color: rgb(218, 165, 32);">Sativa</span>
                              <br>
                              <span style="font-size: 8pt; color: rgb(97, 168, 152);">
                                <span style="font-size: 10pt; color: rgb(0, 0, 0);">
                                  <span style="font-size: 10pt;">Golden slabs of potent THC ready to be dabbed.
                                    <br>
                                  </span>
                                </span>
                              </span>
                            </a>
                            <div align="right">
                              <div align="center">
                                <a href="sativa.html">
                                  <span style="background-color: rgb(255, 165, 0);">
                                    <span style="font-size: 8pt;">
                                      <span style="font-size: 8pt;">
                                        <span style="font-size: 8pt; color: rgb(97, 168, 152); font-weight: bold;">
                                          <span style="font-size: 8pt; color: rgb(0, 0, 0);">SHOW ME</span>
                                        </span>
                                      </span>
                                    </span>
                                  </span>
                                </a>
                                <span style="font-size: 8pt; color: rgb(97, 168, 152);">
                                  <span style="font-size: 10pt; color: rgb(0, 0, 0);">
                                    <span style="font-size: 10pt;"></span>
                                  </span>
                                </span>
                                <br>
                              </div>
                              <span style="font-size: 8pt; color: rgb(97, 168, 152);">
                                <span style="font-size: 10pt; color: rgb(0, 0, 0);">
                                  <span style="font-size: 10pt;"></span>
                                </span>
                              </span>
                            </div>
                          </td>
                          <td style="border: medium none;">
                            <a href="hybrid.html">
                              <span style="font-weight: bold; font-size: 14pt; color: rgb(147, 112, 219);">Hybrid</span>
                              <span style="font-weight: bold;"></span>
                              <br>
                              <span style="font-size: 8pt; color: rgb(97, 168, 152);">
                                <span style="font-size: 10pt; color: rgb(0, 0, 0);">
                                  <span style="font-size: 10pt;">Got body pain? try these amazing ointments.
                                    <br>
                                  </span>
                                </span>
                              </span>
                            </a>
                            <div align="right">
                              <div align="center">
                                <a href="hybrid.html">
                                  <span style="background-color: rgb(147, 112, 219);">
                                    <span style="font-size: 8pt;">
                                      <span style="font-size: 8pt;">
                                        <span style="font-size: 8pt; color: rgb(97, 168, 152); font-weight: bold;">
                                          <span style="font-size: 8pt; color: rgb(0, 0, 0);">SHOW ME</span>
                                        </span>
                                      </span>
                                    </span>
                                  </span>
                                </a>
                                <span style="font-size: 8pt; color: rgb(97, 168, 152);">
                                  <span style="font-size: 10pt; color: rgb(0, 0, 0);">
                                    <span style="font-size: 10pt;"></span>
                                  </span>
                                </span>
                                <br>
                              </div>
                              <span style="font-size: 8pt; color: rgb(97, 168, 152);"></span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="paging"></div>
            </div>
            <div class="category-no-products text-center">
              <div class="alert alert-warning">There are no products to list in this category.</div>
              <a class="btn btn-alt" href="https://www.budbox.ca">Continue Shopping</a>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>

<div id="membershipModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div> -->
      <div class="modal-body">
        <section id="product-details">
          <form enctype="multipart/form-data" method="post" action="add_cart.asp" name="add" id="add" target="_top">
            <div class="row">
              <div class="primary col-sm-6">
                <div id="mediaContainer">
                  <div id="mediaBlock">
                    <!--START: image1-->
                    <div class="main-image">
                      <a href="" class="MagicZoomPlus pimagePath" id="listing_main_image_link" style="position: relative; display: inline-block; text-decoration: none; outline: 0px; overflow: hidden; margin: auto; width: auto; height: auto;"
                        title="">
                        <img class="pimagePath2" align="middle"
                          id="large" name="large" alt="SlyBlends Vape Tanks" style="opacity: 1;">
                        <div class="MagicZoomBigImageCont inner-zoom" style="overflow: hidden; z-index: 100; top: -100000px; position: absolute; width: 100%; height: 100%; left: 0px; opacity: 0;">
                          <div class="MagicZoomHeader" style="position: relative; z-index: 10; left: 0px; top: 0px; padding: 3px; display: none; visibility: hidden;"></div>
                          <div style="overflow: hidden;">
                            <img class="pimagePath2" style="padding: 0px; margin: 0px; border: 0px; width: auto; height: auto; position: relative; left: 0px; top: 0px; transform: translateZ(0px);">
                          </div>
                        </div>
                        <div class="MagicZoomPup" style="z-index: 10; position: absolute; overflow: hidden; display: none; visibility: hidden; width: 684px; height: 684px; opacity: 0.65; left: 0px; top: 0px;"></div>
                      </a>
                      <div name="imagecaptiont" id="imagecaptiont" class="item"></div>
                    </div>
                    <!--END: image1-->
                    <div id="realmediaBlock">
                      <div>
                        <!-- <iframe id="realmedia" src="" frameborder="0" allowfullscreen></iframe> -->
                      </div>
                    </div>
                    <div class="addl-images">
                      <div class="prod-thumbnails">
                        <ul class="owl-carousel owl-loaded owl-drag">
                          <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 369px;">
                              <div class="owl-item active" style="width: 112.8px; margin-right: 10px;">
                                <li class="prod-thumb image1">
                                  <a href="" rel="thumb-id:listing_main_image_link" class="MagicThumb-swap pimagePath" style="outline: none;">
                                    <img src="" alt="" class="pimagePath2">
                                  </a>
                                </li>
                              </div>                              
                            </div>
                          </div>
                          <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev disabled">
                              <i class="fa fa-angle-left"></i>
                            </button>
                            <button type="button" role="presentation" class="owl-next disabled">
                              <i class="fa fa-angle-right"></i>
                            </button>
                          </div>
                          <div class="owl-dots disabled"></div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="secondary col-sm-6">
                <h1 class="page_headers" id="membershipPackageTitle"></h1>
                <div class="product-short-desc">
                  <p id="membershipPackageDesc"></p>
                </div>
                <div class="pricingBlock">
                  <div class="price">
                    <span id="membershipPackagePrice"></span>
                  </div>
                </div>
                <div class="availabilityInfo">
                  <div class="product_availability">
                    <h4>Availability:</h4>
                    <div id="availability" class="font2">Ready to ship!</div>
                  </div>
                </div>

                <div id="prodDetails">
                  <div class="loginReqBlock" *ngIf="!authenticated">You need to be a registered customer to order this product. Please
                    <a [routerLink]="['/login']">Login to your account</a> or
                    <a href="register.asp?catalogid=314">click here to Register</a>.</div>
                  <div id="divOptionsBlock">
                    <div class="inner-options">
                      <div class="opt-regular">
                        <span class="required">
                          <img src="images/error2.gif" id="membershipPackageImg" width="12" height="12" alt="">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>