<div id="mainContainer">
  
  <div class="container">
    <div class="row">
        <script type="text/javascript" id="AgeVerifyScript" data-template="clouds" data-age="19" data-method="DMY" data-cookielength="30" data-prompttextdob="Budbox is for<br />adults only<br /><br />Please confirm<br />date of birth to enter." data-yytext="YYYY" data-mmtext="MM" data-ddtext="DD" data-underageredirect="https://google.ca" src="https://pro.ageverify.co/jsv6/dob.js"></script> 

      <section id="home" class="page-layout">
        <div class="container">
          <div id="homeCarousel">
            <ul class="owl-carousel">
              <li>
                <a href="/register.asp">
                  <img src="assets/images/slide-1.jpg" alt="Join BudBox Today" />
                </a>
              </li>
              <li>
                <a href="/budbox.html">
                  <img src="assets/images/slide-2.jpg" alt="Get your box filled with goodness" />
                </a>
              </li>
              <li>
                <a href="/info.html#shipping">
                  <img src="assets/images/slide-3.jpg" alt="Shipping Information" />
                </a>
              </li>
              <li>
                <a href="/mataroblue.html">
                  <img src="assets/images/slide-4.jpg" alt="AAAA Blue Mataro" />
                </a>
              </li>
              <li>
                <a href="/dank.html">
                  <img src="assets/images/slide-5.jpg" alt="420 Week Begins Now" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        
        <!--START: CATEGORY_HEADER-->
        <div class="category-header" id="homeHeader">
          <div align="left">
            <span style="font-size: 12pt;">
              <table style="border-collapse: collapse;" width="972" height="136" cellspacing="2" cellpadding="3">
                <tbody>
                  <tr>
                    <td style="vertical-align:top">
                      <span style="font-size: 18pt; font-weight: bold; color: rgb(28, 133, 110);">The ultimate in mail order marijuana.</span>
                      <br>
                      <br>Online
                      <a href="dispensary.html">dispensary</a> serving all of Canada with the finest quality
                      <a href="view_category.asp?cat=8">cannabis items</a> including:
                      <a href="cannabis.html">BC Bud</a>,
                      <a href="extracts.html">Extracts</a> &amp;
                      <a href="cannabis-oil.html">Cannabis Oils</a>,
                      <a href="edibles.html">Infused Edibles</a>,
                      <a href="topicals.html">Creams &amp; Lotions</a> &amp;
                      <a href="vape.html">THC e-juice</a>.&nbsp;
                      <a href="budder.html">Whipped Budder</a>,
                      <a href="live-resin.html">Live Resin</a>,
                      <a href="shatter.html">Shatter</a>,
                      <a href="cherry-oil.html">Cherry Oil</a>,
                      <a href="honey-oil.html">Honey Oil</a> and
                      <a href="distillate.html">Distillate</a>.&nbsp;
                      <a href="cannabis.html">Cannabis Flower</a>:
                      <a href="indica.html">Indica</a>,
                      <a href="sativa.html">Sativa</a>,
                      <a href="hybrid.html">Hybrid</a>.
                      <br>
                      <br>
                      <span style="font-weight: bold;">
                        <a href="budbox.html">Budbox has monthly membership</a> options that give you huge discounts on high quality
                        <a href="cannabis.html">cannabis</a> items.
                        <br>
                        <br>
                        <span style="color: rgb(197, 1, 206);">Take advantage and get wholesale prices</span> -
                        <a href="register.asp">create an account today!</a>
                      </span>
                      <span style="background-color: rgb(50, 205, 50);">
                        <a href="budbox.html">&nbsp; </a>
                        <a href="view_category.asp?cat=14">
                          <span style="color: rgb(224, 255, 255);">
                            <span style="font-size: 14pt;"></span>
                          </span>
                        </a>
                        <a href="budbox.html">
                          <span style="color: rgb(255, 255, 224); font-weight: bold;">Whats in your box?</span>&nbsp;</a>
                      </span>
                      <span style="font-size: 12pt;"></span>
                    </td>
                    <td style="vertical-align:top">
                      <br>
                    </td>
                  </tr>
                </tbody>
              </table>
            </span>
            <br>
          </div>
        </div>
        <!--END: CATEGORY_HEADER-->
        <div id="home-top-banners">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/cannabis.html">
                  <img class="img-first" src="assets/images/home-top-banner-1.jpg" alt="" />
                  <img class="img-second" src="assets/images/home-top-banner-1a.png" alt="" />
                </a>
              </div>
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/extracts.html">
                  <img class="img-first" src="assets/images/home-top-banner-2.jpg" alt="" />
                  <img class="img-second" src="assets/images/home-top-banner-2a.png" alt="" />
                </a>
              </div>
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/edibles.html">
                  <img class="img-first" src="assets/images/home-top-banner-3.jpg" alt="" />
                  <img class="img-second" src="assets/images/home-top-banner-3a.png" alt="" />
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/topicals.html">
                  <img class="img-first" src="assets/images/home-top-banner-4.jpg" alt="" />
                  <img class="img-second" src="assets/images/home-top-banner-4a.png" alt="" />
                </a>
              </div>
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/vape.html">
                  <img class="img-first" src="assets/images/home-top-banner-5.jpg" alt="" />
                  <img class="img-second" src="assets/images/home-top-banner-5a.png" alt="" />
                </a>
              </div>
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/gear.html">
                  <img class="img-first" src="assets/images/home-top-banner-6.jpg" alt="" />
                  <img class="img-second" src="assets/images/home-top-banner-6a.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="homeFeatured" class="module-wrapper">
          <div class="container">
            <!--START: FEATURE_MENU-->
            <h3 class="module-heading">
              <span>Featured Products</span>
            </h3>
            <div class="inner-wrapper">
              <!--START: CATEGORY_ITEMS-->
              <script class="slick-cloned" type="text/javascript">
                if (typeof _3d_items_collection === "undefined") { window._3d_items_collection = {}; }
              </script>
              <div class="productBlockContainer columns-3">
                <div class="product-container first-item">
                  <div class="prod-item">
                    <div class="prod-image">
                      <a href="apple-cider.html">
                        <img src="assets/images/edible-marysappcid-0_thumbnail.jpg" alt="Apple Cider Infused Drink" id="qv_176" />
                      </a>
                      <div class="actions">
                        <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                      </div>
                    </div>
                    <div class="product-desc">
                      <div class="name">
                        <a href="apple-cider.html">Apple Cider Infused Drink</a>
                      </div>
                      <div class="star-rating">
                        <!--START: product_review-->
                        <!--START: product_review_average-->
                        <div class="star3">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <!--END: product_review_average-->
                        <!--END: product_review-->
                      </div>
                      <div class="price">
                        <!--START: ITEMPRICE-->
                        <span class="hidden">Your Price:&nbsp;</span>$4.25
                        <!--END: ITEMPRICE-->
                      </div>
                      <div class="div-hovered">
                        <button type="button" onclick="window.location = 'add_cart.asp?quick=1&amp;item_id=176'" class="btn btn-color btnATC">Buy</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-container middle-item">
                  <div class="prod-item">
                    <div class="prod-image">
                      <a href="fortify-oil.html">
                        <img src="assets/images/pet-baked-cbdtinctures-fortify250-0_thumbnail.jpg" alt="FORTIFY Nutraceutical Pet Oil" id="qv_284" />
                      </a>
                      <div class="actions">
                        <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                      </div>
                    </div>
                    <div class="product-desc">
                      <div class="name">
                        <a href="fortify-oil.html">FORTIFY Nutraceutical Pet Oil</a>
                      </div>
                      <div class="star-rating">
                      </div>
                      <div class="price">
                        <!--START: ITEMPRICE-->
                        <span class="hidden">Your Price:&nbsp;</span>$44.99
                        <!--END: ITEMPRICE-->
                      </div>
                      <div class="div-hovered">
                        <button type="button" onclick="window.location = 'add_cart.asp?quick=1&amp;item_id=284'" class="btn btn-color btnATC">Buy</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-container last-item">
                  <div class="prod-item">
                    <div class="prod-image">
                      <a href="rice-crispy-square.html">
                        <img src="assets/images/edible-baked-crispysquare-0_thumbnail.jpg" alt="Rice Crispy Square" id="qv_201" />
                      </a>
                      <div class="actions">
                        <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                      </div>
                    </div>
                    <div class="product-desc">
                      <div class="name">
                        <a href="rice-crispy-square.html">Rice Crispy Square</a>
                      </div>
                      <div class="star-rating">
                        <!--START: product_review-->
                        <!--START: product_review_average-->
                        <div class="star4">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <!--END: product_review_average-->
                        <!--END: product_review-->
                      </div>
                      <div class="price">
                        <!--START: ITEMPRICE-->
                        <span class="hidden">Your Price:&nbsp;</span>$8.99
                        <!--END: ITEMPRICE-->
                      </div>
                      <div class="div-hovered">
                        <button type="button" onclick="window.location = 'add_cart.asp?quick=1&amp;item_id=201'" class="btn btn-color btnATC">Buy</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
              </div>
              <div class="productBlockContainer columns-3">
                <div class="product-container first-item">
                  <div class="prod-item">
                    <div class="prod-image">
                      <a href="shakenspray-CBDorange.html">
                        <img src="assets/images/edible-smyle-cbdorange-0_thumbnail.jpg" alt="Smyle Shake 'N Spray - Orange CBD" id="qv_245" />
                      </a>
                      <div class="actions">
                        <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                      </div>
                    </div>
                    <div class="product-desc">
                      <div class="name">
                        <a href="shakenspray-CBDorange.html">Smyle Shake 'N Spray - Orange CBD</a>
                      </div>
                      <div class="star-rating">
                        <!--START: product_review-->
                        <!--START: product_review_average-->
                        <div class="star2">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <!--END: product_review_average-->
                        <!--END: product_review-->
                      </div>
                      <div class="price">
                        <!--START: ITEMPRICE-->
                        <!--END: ITEMPRICE-->
                        <!--START: SALEPRICE-->
                        <del class="price2">$34.99</del>
                        <span class="hidden">On sale&nbsp;</span>
                        <span class="sale-price">$29.99</span>
                        <div class="on-sale">Sale</div>
                        <!--END: SALEPRICE-->
                      </div>
                      <div class="div-hovered">
                        <button type="button" onclick="window.location = 'add_cart.asp?quick=1&amp;item_id=245'" class="btn btn-color btnATC">Buy</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-container middle-item">
                  <div class="prod-item">
                    <div class="prod-image">
                      <a href="shakenspray-CBDwinter.html">
                        <img src="assets/images/edible-smyle-cbd-0_thumbnail.jpg" alt="Smyle Shake 'N Spray - Winter CBD" id="qv_246" />
                      </a>
                      <div class="actions">
                        <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                      </div>
                    </div>
                    <div class="product-desc">
                      <div class="name">
                        <a href="shakenspray-CBDwinter.html">Smyle Shake 'N Spray - Winter CBD</a>
                      </div>
                      <div class="star-rating">
                      </div>
                      <div class="price">
                        <!--START: ITEMPRICE-->
                        <!--END: ITEMPRICE-->
                        <!--START: SALEPRICE-->
                        <del class="price2">$34.99</del>
                        <span class="hidden">On sale&nbsp;</span>
                        <span class="sale-price">$29.99</span>
                        <div class="on-sale">Sale</div>
                        <!--END: SALEPRICE-->
                      </div>
                      <div class="div-hovered">
                        <button type="button" onclick="window.location = 'add_cart.asp?quick=1&amp;item_id=246'" class="btn btn-color btnATC">Buy</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-container last-item">
                  <div class="prod-item">
                    <div class="prod-image">
                      <a href="yubnub-indica-preroll.html">
                        <img src="assets/images/preroll-yubnub-indica-0_thumbnail.jpg" alt="Yubnubs Indica Strain - Prerolls" id="qv_383" />
                      </a>
                      <div class="actions">
                        <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                      </div>
                    </div>
                    <div class="product-desc">
                      <div class="name">
                        <a href="yubnub-indica-preroll.html">Yubnubs Indica Strain - Prerolls</a>
                      </div>
                      <div class="star-rating">
                      </div>
                      <div class="price">
                        <!--START: ITEMPRICE-->
                        <span class="hidden">Your Price:&nbsp;</span>$34.99
                        <!--END: ITEMPRICE-->
                      </div>
                      <div class="div-hovered">
                        <button type="button" onclick="window.location = 'add_cart.asp?quick=1&amp;item_id=383'" class="btn btn-color btnATC">Buy</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
              </div>
              <!--END: CATEGORY_ITEMS-->
            </div>
            <!--END: FEATURE_MENU-->
          </div>
        </div>
       
        <div id="home-bottom-banners">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/stranger.html">
                  <img src="assets/images/home-bottom-banner-1.jpg" alt="The Friendly Stranger" />
                </a>
              </div>
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/realdeal.html">
                  <img src="assets/images/home-bottom-banner-2.jpg" alt="The Real Deal" />
                </a>
              </div>
              <div class="col-sm-4 col-xs-12 banner-item">
                <a href="/moreplease.html">
                  <img src="assets/images/home-bottom-banner-3.jpg" alt="Yes More Please" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="homeBrands">
          <div class="container">
            <ul class="owl-carousel">
              <li>
                <a href="/edibles.html" title="Sweet Jane Edibles">
                  <img src="assets/images/brand3.png" alt="Sweet Jane Edibles" />
                </a>
              </li>
              <li>
            </ul>
          </div>
        </div>
        <!--START: CATEGORY_FOOTER-->
        <div class="category-footer" id="homeFooter">
          <div align="center">
            <a href="dispensary.html">Canadian online dispensary</a> with high quality
            <a href="cannabis.html">mail order marijuana</a>.&nbsp; Learn more
            <a href="facts-about-marijuana.html">facts about marijuana</a> and
            <a href="extracts.html">cannabis extracts</a> by reading the
            <a href="blog.asp">Budbox Blog</a>.
            <br>
          </div>
        </div>
        <!--END: CATEGORY_FOOTER-->
      </section>
      <!--END: FRAME_MID-->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /#mainContainer -->
