<div id="mainContainer">

  <div class="container">
    <div class="row">
      <!--START: LEFT BAR-->
      <aside id="leftBar" class="leftBar col-sm-3">
        <!--START: LEFT_BAR_BLOCKS-->
        <div id="modTopSellers" class="module-wrapper">
          <h3 class="side-module-heading">
            <span>Top Sellers</span>
          </h3>
          <div class="owl-carousel">
            <div class="prod-item">
              <div class="prod-image">
                <a href="cherry-oil.html">
                  <img src="images/extract-thrive-premiumcherry-0_thumbnail.jpg" alt="Premium Cherry Oil" id="qv_36" />
                </a>
                <div class="actions">
                  <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                </div>
              </div>
              <div class="product-desc">
                <div class="name">
                  <a href="cherry-oil.html">Premium Cherry Oil</a>
                </div>
                <div class="star-rating">
                  <!--START: product_review-->
                  <!--START: product_review_average-->
                  <div class="star5">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!--END: product_review_average-->
                  <!--END: product_review-->
                </div>
                <div class="price">
                  <span class="hidden">Your Price:&nbsp;</span>$24.99
                </div>
                <div class="div-hovered">
                  <button type="button" class="btn btn-color btnATC">Buy</button>
                </div>
              </div>
            </div>
            <div class="prod-item">
              <div class="prod-image">
                <a href="romulan-kush.html">
                  <img src="images/flower-romulan-0_thumbnail.jpg" alt="Romulan Indica" id="qv_169" />
                </a>
                <div class="actions">
                  <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                </div>
              </div>
              <div class="product-desc">
                <div class="name">
                  <a href="romulan-kush.html">Romulan Indica</a>
                </div>
                <div class="star-rating">
                  <!--START: product_review-->
                  <!--START: product_review_average-->
                  <div class="star5">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!--END: product_review_average-->
                  <!--END: product_review-->
                </div>
                <div class="price">
                  <del class="price2">$39.99</del>
                  <span class="hidden">On sale&nbsp;</span>
                  <span class="sale-price">$24.99</span>
                  <div class="on-sale">Sale</div>
                </div>
                <div class="div-hovered">
                  <button type="button" class="btn btn-color btnATC">Buy</button>
                </div>
              </div>
            </div>
            <div class="prod-item">
              <div class="prod-image">
                <a href="godsgreencrack.html">
                  <img src="images/flower-godsgreencrack-0_thumbnail.jpg" alt="Gods Green Crack" id="qv_198" />
                </a>
                <div class="actions">
                  <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                </div>
              </div>
              <div class="product-desc">
                <div class="name">
                  <a href="godsgreencrack.html">Gods Green Crack</a>
                </div>
                <div class="star-rating">
                  <!--START: product_review-->
                  <!--START: product_review_average-->
                  <div class="star5">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!--END: product_review_average-->
                  <!--END: product_review-->
                </div>
                <div class="price">
                  <del class="price2">$44.95</del>
                  <span class="hidden">On sale&nbsp;</span>
                  <span class="sale-price">$24.99</span>
                  <div class="on-sale">Sale</div>
                </div>
                <div class="div-hovered">
                  <button type="button" class="btn btn-color btnATC">Buy</button>
                </div>
              </div>
            </div>
            <div class="prod-item">
              <div class="prod-image">
                <a href="rockstar-kush.html">
                  <img src="images/flower-rockstarkush-0_thumbnail.jpg" alt="Rockstar Kush" id="qv_368" />
                </a>
                <div class="actions">
                  <a class="btnQV hidden-xs hidden-sm hidden-md" href="productview.html">Quick View</a>
                </div>
              </div>
              <div class="product-desc">
                <div class="name">
                  <a href="rockstar-kush.html">Rockstar Kush</a>
                </div>
                <div class="star-rating">
                  <!--START: product_review-->
                  <!--START: product_review_average-->
                  <div class="star4">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <!--END: product_review_average-->
                  <!--END: product_review-->
                </div>
                <div class="price">
                  <del class="price2">$44.95</del>
                  <span class="hidden">On sale&nbsp;</span>
                  <span class="sale-price">$24.99</span>
                  <div class="on-sale">Sale</div>
                </div>
                <div class="div-hovered">
                  <button type="button" class="btn btn-color btnATC">Buy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--START: FRAME_BYPRICE-->
        <!--END: FRAME_BYPRICE-->
        <!--START: FRAME_MANUFACTURER-->
        <!--END: FRAME_MANUFACTURER-->
        <!--START: LEFT_BANNER-->
        <div id="leftBanner">
          <div id="sideLeftBanner">
            <a href="#">
              <img alt="" src="images/catbanneranim.gif">
            </a>
          </div>
          <div id="sideCustomCMS" class="module-wrapper">
            <h3 class="side-module-heading">
              <span>Only The Best
                <br>
              </span>
            </h3>
            <div class="side-cms-content">
              <p>What goes into a budbox? Only the highest quality cannabis flower, extracts, edibles &amp; topicals.</p>
              <p>Lab tested &amp; personally sampled by our specialists. We know whats best for your box!</p>
            </div>
          </div>
        </div>
        <!--END: LEFT_BANNER-->
        <!--END: LEFT_BAR_BLOCKS-->
      </aside>
      <div id="sidebar-toggle" class="hide">
        <a href="javascript:void(0);">SHOW SIDEBAR
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <!--END: LEFT BAR-->
      <!--START: FRAME_MID-->
      <!--START: BODY_HEADER-->
      <div class="breadcrumbs">
        <a href='/'>Home</a> >
        <a href='how.html'>How It Works</a>
      </div>
      <!--END: BODY_HEADER-->
      <div [innerHTML]="cmsdata"></div>
      <!--END: FRAME_MID-->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>