.site-footer {
    background: #EBEBEB;
    padding: 30px 0;
    color: #403937;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
.footer-widget .widget-title {
    border: none;
    color: #403739;
    font-size: 22px;
    margin-bottom: 10px;
}
.footer-widget .menu {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer-widget .menu li {
    border-bottom: 2px solid #403739;
    margin-top: 10px;
    padding-bottom: 10px;
}
.site-info {
    margin-top: 30px;
}
.social-navigation {
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
}
.social-navigation li {
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #403937;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    float: left;
    height: 45px;
    width: 45px;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    -js-display: flex;
}
.social-navigation a {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: "FontAwesome", sans-serif;
    font-size: 1.3em;
}
.site-footer a {
    color: #403937;
}
.social-navigation .fb:before {
    content: "\f09a";
}
.social-navigation .tw:before {
    content: "\f099";
}
.social-navigation .gplus:before {
    content: "\f0d5";
}
.social-navigation .pin:before {
    content: "\f231";
}
.social-navigation .yt:before {
    content: "\f167";
}